<!DOCTYPE html>
{%extends 'customer/base.html'%}
{%block body_block%}
<h1>welcome {{request.user}}</h1>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="" method="get">
            {{filter.form.as_p}}
            <button type="submit" class="btn btn-success">search</button>
        </form>
    </div>
    <div class="col-4"></div>
</div>



<div class="container">
    <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        {%if messages%}
        {%for message in messages%}
        {{message}}
        {%endfor%}
        {%endif%}
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    {%for book in filter.qs%}
    <div class="col-4 mt-5">
        <div class="card" style="width: 80%;">
                 <img src="{{book.image.url}}" alt="">
            <ul class="list-group list-group-flush">

                <li class="list-group-item">bookname:{{book.book_name}}</li>
                <li class="list-group-item">author:{{book.author}}</li>
                <li class="list-group-item">price:{{book.price}}</li>
                <li class="list-group-item">copies:{{book.copies}}</li>
                <li class="list-group-item"><a href="{%url 'ordercreate' book.id%}" class="btn btn-success">order</a></li>

            </ul>
        </div>
    </div>
    {%endfor%}
</div>

</div>

{%endblock%}